<div class="column gap-1">
  <!-- Add Product Button -->
  <p-button label="Add Product" icon="pi pi-plus" severity="success" (click)="toggleAddPopup()" />

  <!-- Edit Product Button -->

  <!-- Products Section -->
  <div class="row wrap gap-1 space-between">
    @for (product of products; track product.id) {
      <app-product
        [product]="product"
        (edit)="toggleEditPopup($event)"
        (delete)="toggleDeletePopup($event)"
      />
    }
  </div>


  <!-- Paginator -->
  <p-paginator
    [rows]="rows"
    [totalRecords]="totalRecords"
    [rowsPerPageOptions]="[5, 10, 20]"
    (onPageChange)="onPageChange($event)"
  />
</div>
<app-edit-popup
[product]="selectedProduct"
[(display)]="displayEditPopup"
header="Edit Product"
(confirm)="onConfirmEdit($event)"
></app-edit-popup>

<app-edit-popup
[(display)]="displayAddPopup"
header="Add Product"
(confirm)="onConfirmAdd($event)"
></app-edit-popup>