<p-dialog
  [header]="header"
  [modal]="true"
  [(visible)]="display"
  [closable]="false"
>
  <div class="column gap-1">
    <!-- Name -->
    <div class="row gap-05">
      <label for="name" class="">Name:</label>
      <input type="text" [(ngModel)]="product.name" />
    </div>

    <!-- Price -->
    <div class="row gap-05">
      <label for="price" class="">Price:</label>
      <input type="text" [(ngModel)]="product.price" />
    </div>

    <!-- Image -->
    <div class="row gap-05">
      <label for="image" class="">Image:</label>
      <input type="text" [(ngModel)]="product.image" />
    </div>

    <!-- Rating -->
    <p-rating [(ngModel)]="product.rating" />

    <!-- Buttons -->
  <p-footer>
    <p-button label="Confirm" severity="info" (click)="onConfirm()" />
    <p-button label="cancel" severity="danger" (click)="onCancel()" />
  </p-footer>
  </div>

  
</p-dialog>
